#root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: auto;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #64646400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tarjeta {
  /* el mero contenido (3) */
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: #0000 !important;
  overflow: visible;
}

.css-17fpwt7-MuiGrid-root {
  /* contenedor de contenido (2)*/
  width: -webkit-fill-available;
}

.css-3ujdr3-MuiGrid-root {
  /* navbar y contenido (1)*/
  padding: 0 !important;
  width: 100% !important;
  height: calc(100% - 64px) !important;
  justify-content: center !important;
  margin-top: 0 !important;
  position: absolute;
  top: 64px;
}

.css-uqxh04-MuiFormControl-root-MuiTextField-root,
.css-petuow-MuiInputBase-root-MuiOutlinedInput-root {
  /* barra de busqueda */
  border-radius: 10px !important;
}

.css-a98hr5-MuiButtonBase-root-MuiButton-root {
  /* botones del navbar */
  font-size: 0.79rem !important;
}

.css-1a7iywq-MuiTableHead-root {
  background-color: #ffffffcf !important;
}

.div-contenedor-tabla {
  /* div contenedor de la tabla */
  background-color: #ffffff00 !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  padding-bottom: 0 !important;
}



.tarjeta-contenido {
  padding: 60px 10px 100px 10px !important;
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  background-color: #282c3400;
  justify-content: start;
  flex-wrap: nowrap;
  color: white;
  gap: 10px;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.css-u1n70o-MuiTableCell-root {
  /* headers tabla */
  text-align: center !important;
  font-size: .95rem !important;
  font-weight: 800 !important;
}

.MuiTableRow-root .css-194cqds-MuiTableCell-root {
  /* fila tabla */
  cursor: pointer;
  background-color: #ffffffe8;
  transition: background-color 0.3s ease;
  color: black !important;
  border: none !important;
  text-align: center;
}

.MuiTableRow-root.Mui-selected .css-194cqds-MuiTableCell-root {
  background-color: rgb(124, 16, 16) !important;
  color: white !important;
}

.MuiTableRow-root.Mui-selected:hover .css-194cqds-MuiTableCell-root {
  background-color: rgb(141, 19, 19) !important;
}


.div-bienvenida .bienvenida-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 0.3s, background-position 0.8s ease, transform 0.5s ease;

  /* Gradiente vertical: rojo oscuro → gris */
  background: linear-gradient(to bottom,
      #000000 30%,
      #a00d0d 100%);

  background-size: 200% 250%;
  background-position: top;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}

.animacion-video {
  width: 100%;
  height: 100%;
  max-height: 9.8vh;
  object-fit: contain;
  opacity: 1;
  position: absolute;
  top: -.2vh;
  left: -3px;
  transform: scale(1.25);
}

.animacion-container {
  width: 85px;
  height: 100%;
  max-height: 10vh;
  overflow: hidden;
  position: relative;
}

.animacion-img {
  transform: scale(1.11);
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  position: absolute;
  top: 0vh;
  left: 24.4%;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s 2s ease;
}

.fade-in {
  opacity: 1;
}





/* Hover: mueve el gradiente hacia abajo */
.div-bienvenida:hover .bienvenida-link {
  background-position: bottom;
  transform: scale(1.05);
}

/* .bienvenida-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
} */


/* diseño para mobiles */
@media (max-width: 768px) {
  .css-3ujdr3-MuiGrid-root {
    height: calc(100% - 54px) !important;
    top: 54px;
  }

  .div-bienvenida .bienvenida-link {
    font-size: 1rem;
  }

  .css-a98hr5-MuiButtonBase-root-MuiButton-root {
    /* botones del navbar */
    font-size: 0.7rem !important;
  }

  .css-uqxh04-MuiFormControl-root-MuiTextField-root {
    /* barra de busqueda */
    margin: 0 0 0 15px !important;
  }

  .tarjeta-contenido {
    padding: 100px 10px 100px 10px !important;
  }

  .css-y2ac98 {
    /* Módulos */
    overflow: auto;
    width: -webkit-fill-available;
    padding: 15px 10px 0 10px !important;
    align-items: center;
  }

  .css-y2ac98::-webkit-scrollbar {
    width: 0px;
  }

  .scroll-stack-inner {
    padding: 15vh 1rem 50rem;
    min-height: 100vh;
  }


  #root::-webkit-scrollbar {
    width: 0px !important;
  }

  .animacion-container {
    max-height: 11.1vh;
  }

  .animacion-video {
    max-height: 10vh;
    top: .2vh;
    left: -6px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


/* Estilos personalizados para el scrollbar de #root */
#root::-webkit-scrollbar {
  width: 0px;
}

.div-contenedor-tabla::-webkit-scrollbar {
  width: 0px;
}




#root::-webkit-scrollbar-track {
  background: transparent;
}

#root::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

#root::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}