body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: 'Georgia',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black !important;
}

.fondo {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../../public/fond.webp') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: transparent !important;
}

.Sombra {
  background-image: linear-gradient(to bottom left, #000000e3 10%, #ffffff00 90%), 
      linear-gradient(to top right, #000000e3 10%, #ffffff00 90%); 
  width: 100%; 
  height: 100%;
}

html {
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
